<footer style="background-color:#111; color:white; padding:10px 20px; display:flex; align-items:center;">

    <MudGrid Style="align-self: center">

        <MudItem sm="12", md="6">
        <ul style="font-size: small; color:white">
            <li>
                <a href="https://www.flaticon.com/free-icons/amazon" title="amazon icons">Amazon icons created by Alfredo Creates - Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/etsy" title="etsy icons">Etsy icons created by Freepik - Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/tik-tok" title="tik tok icons">Tik tok icons created by Freepik - Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/ebay" title="ebay icons">Ebay icons created by Freepik - Flaticon</a>
            </li>
            <li>
                <a target="_blank" href="https://icons8.com/icon/A8ocm0brlV3B/vinted">Vinted</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </li>
        </ul>
        </MudItem>
        <MudItem sm="12" md="6">
            <MudText>Celestial Glow</MudText>
        </MudItem>
        <MudItem sm="12" md="6">
            <MudText>v0.01</MudText>
        </MudItem>

    </MudGrid>
</footer>
